.sidebar::-webkit-scrollbar {
    width: 5px;
    z-index: 0!important;

  }
  
  /* Track */
  .sidebar::-webkit-scrollbar-track {
    border-radius: 10px;
    z-index: 0!important;
  }
   
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    z-index: 0!important;
}
